<li class="list-group-item">
  <i class="fas fa-hamburger"></i>
  {{burger_name}}
  {{#if devour}}
  <button data-id="{{id}}" type="button" class="devourBtn btn btn-secondary float-right">Devour it!</button>
  {{/if}}
</li>
